* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
    height: auto;
}

.meal-types {
    list-style-type: none;
    display: flex;
    gap: 48px;
    margin: 30px 50px 30px 30px;
}

.meal-types a {
    text-decoration: none;
    color: #111111;
}

.section {
    background-color: #e0e0e0;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 16px;
}

.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}